<div id="contents"></div>
<button id="discard" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Discard</button>&nbsp;
<button id="close" type="button" class="btn btn-default">Save for Later</button>&nbsp;
<button type="button" class="btn btn-primary finish">Finish</button>