<div id="contents"></div>
<div class="form-controls">
	<button id="discard" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> {{T "Discard"}}</button>&nbsp;
	<button id="close" type="button" class="btn btn-default">{{T "Save for Later"}}</button>&nbsp;
	<button type="button" class="btn btn-primary finish">{{T "Submit"}}</button>
</div>