<ul class="breadcrumb"></ul>
<div class="sections"></div>
<button id="discard" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Discard</button>&nbsp;
<button id="close" type="button" class="btn btn-default">Save for Later</button>&nbsp;
<button type="button" class="btn btn-default prev"><span class="glyphicon glyphicon-backward"></span> Back</button>&nbsp;
<button type="button" class="btn btn-primary next">Next <span class="glyphicon glyphicon-forward"></span></button>
<button type="button" class="btn btn-primary finish">Finish</button>