<table>
	<tr>
		{{#unless prefix}}
		<td>
			<input id="quantity" class="form-control" type="number" step="any" style="width: 12em;"/>
		</td>
		{{/unless}}
		<td>
			<select id="units" class="form-control" style="width:auto">
				{{#if defaultUnits}}{{else}}
				<option value="">{{T "Select units"}}</option>
				{{/if}}
				{{#each units}}
					<option value="{{id}}">{{value}}</option>
				{{/each}}
			</select>
		</td>
		{{#if prefix}}
		<td>
			<input id="quantity" class="form-control" type="number" step="any" style="width: 12em;"/>
		</td>
	{{/if}}

	</tr>
</table>
