{{#if options.prompt}}
	<div class="prompt">
		{{options.prompt}}
		{{#if options.required}}
			<span class="required">*</span>
		{{/if}}
		{{#if options.help}}
		<button type="button" class="btn btn-link btn-sm" id="toggle_help">
  			<span class="glyphicon glyphicon-question-sign"></span>
		</button>
		{{/if}}
	</div>
	{{#if options.hint}}
		<div class="text-muted">{{options.hint}}</div>
	{{/if}}
	{{#if options.help}}
	<div class="help well well-sm" style="display: none">
		{{{options.help}}}
	</div>
	{{/if}}
{{/if}}
<div class="answer"></div>
{{#if options.commentsField}}
<!-- TODO localize placeholder -->
<textarea id="comments" class="form-control" placeholder="Comments"></textarea>
{{/if}}