{{#if options.prompt}}
	<div class="prompt">
		{{options.prompt}}
		{{#if options.required}}
			<span class="required">*</span>
		{{/if}}
	</div>
	{{#if options.hint}}
		<div class="text-muted">{{options.hint}}</div>
	{{/if}}
{{/if}}
<div class="answer"></div>
{{#if options.commentsField}}
<!-- TODO localize placeholder -->
<textarea id="comments" class="form-control" placeholder="Comments"></textarea>
{{/if}}